<h3>Chat interface</h3>

{{#bf-box class="box-info" title="AOL Instant Messenger"}}
  <form {{action "submitMessage" on="submit"}}>
    {{input value=name placeholder="Name"}}
    {{input value=message placeholder="Message"}}
    <button type="submit" action="submitMessage">Submit</button>
  </form>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>
          Name
        </th>
        <th>
          Message
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each chat in model}}
        <tr>
          <td>
            {{chat.name}}
          </td>
          <td>
            {{chat.message}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/bf-box}}
